html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Barlow', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 100vw;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F2D637;
}
.header-icon p {
    width: 200px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1.2px;
    font-family: 'Potta One', cursive;
    color: #F2D637;
    text-shadow: 0px 0px 8px #000000;
    transform: rotate(-15deg);
}
.header-nav-list { 
    display: flex;
}
.header-nav-item {
    border-left: 2px solid #000000;
    transition: all 0.4s ease;
    position: relative;
}
.header-nav-item:hover {
    background-color: #B29714;
}
.header-nav-item:hover .drop-down-menu {
    transform: translateY(0px);
}
.header-nav-item:hover .drop-down-link {
    font-size: 30px;
    padding: 10px 30px;
}
.header-nav-item:hover .triangle {
    transform: rotate(90deg) translateX(5px);
}
.header-nav-item:nth-child(5) {
    border-right: 2px solid #000000;
}
.header-nav-link {
    display: flex;
    align-items: center;
    padding: 15px 30px;
}
.header-nav-link p {
    font-size: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-right: 8px;
}
.triangle {
    width: 18px;
    height: 12px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 12px solid #000;
    transition: all 0.4s ease;
}
.drop-down-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2D637;
    transform: translateY(-200px);
    transition: all 0.4s ease;
    z-index: -1;
}
.drop-down-list:first-child {
    border-top: 2px solid #000;
}
.drop-down-list {
    border-bottom: 2px solid #000000;
    position: relative;
}
.drop-down-link {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    font-size: 0px;
    padding: 0px;
    text-align: center;
    color: black;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.drop-down-link span {
    width: 18px;
    height: 12px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 12px solid #000;
    display: block;
    transition: all 0.4s ease;
}
.drop-down-link:hover {
    color: #856e0b;
}
.drop-down-list:hover .drop-down-link span  {
    transform: rotate(90deg) translateX(5px); 
}
.drop-down-link:active {
    background-color: #CECC03;
}
.social-websites-icons ul {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.social-websites-icons ul li {
    margin-left: 20px;
}
.fab {
    font-size: 25px;
    color: #000000;
}
button {
    border: none;
    background-color: #F2D637;
    font-size: 25px;
    margin-left: 40px;
}
button:focus {
    outline: none;
}
.drop-down-inner-menu {
    position: absolute;
    left: 100%;
    top: -2px;
    width: 0%;
    background-color: #F2D637;
    transition: all 0.3s ease;
}
.dropdown-inner-link {
    text-align: center;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    font-size: 0;
    padding: 0;
    transition: all 0.3s ease;
}
.dropdown-inner-link:hover {
    color: #856e0b;
}
.dropdown-inner-link:active {
    background-color: #CECC03;
}
.drop-down-list:hover .drop-down-inner-menu {
    transform: translateY(0);
}
.drop-down-list:hover .dropdown-inner-link {
    font-size: 26px;
    padding: 8px 25px;
}
.drop-down-list:hover .dropdown-inner-list {
    border-bottom: 2px solid #000;
}
.drop-down-list:hover .dropdown-inner-list:first-child {
    border-top: 2px solid #000;
}
.drop-down-list:hover .drop-down-inner-menu {
    width: 100%;
}